<header>
    <h1>
        <img src="https://picsum.photos/id/550/64/64" alt="logo">
        <span>NatuArt</span>
    </h1>

    <nav>
        <a href="#">Inicio</a>
        <a href="#">Imagenes</a>
        <a href="#">Videos</a>
    </nav>

</header>